In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import os

In [2]:
hs2_codes =  pd.read_csv(r"C:\Users\Admin\Downloads\hs2_codes_corrected.csv")

In [3]:
hs2_codes

    HS2                          Description
0     1                         Live animals
1     2           Meat and edible meat offal
2     3                   Fish & crustaceans
3     4                        Dairy produce
4     5            Products of animal origin
..  ...                                  ...
93   95  Miscellaneous manufactured articles
94   96     Works of art, collectors' pieces
95   97                 Special transactions
96   98    Special classification provisions
97   99  Commodities not specified elsewhere

[98 rows x 2 columns]

In [4]:
hs6_codes = pd.read_csv(r"C:\Users\Admin\Desktop\Exports_project\product_codes_HS17_V202501.csv")

In [5]:
hs6_codes = hs6_codes.rename(columns = {'code' : 'HS6',
                                       'description' : 'Description'})

In [6]:
hs6_codes

         HS6                                        Description
0      10121           Horses: live, pure-bred breeding animals
1      10129  Horses: live, other than pure-bred breeding an...
2      10130                                        Asses: live
3      10190                            Mules and hinnies: live
4      10221           Cattle: live, pure-bred breeding animals
...      ...                                                ...
5379  970300  Sculptures and statuary: original, in any mate...
5380  970400  Stamps, postage or revenue: stamp-postmarks, f...
5381  970500  Collections and collectors' pieces: of zoologi...
5382  970600    Antiques: of an age exceeding one hundred years
5383  999999        Commodities not specified according to kind

[5384 rows x 2 columns]

In [7]:
hs2_codes['HS2'] = hs2_codes['HS2'].astype(str)  # Convert to string if not already

# Add '0' as prefix for 5-digit values
hs2_codes['HS2'] = hs2_codes['HS2'].apply(lambda x: '0' + x if len(x) == 1 else x)

# Assuming HS6_desc is your DataFrame and 'code' is the column with HS6 values
hs6_codes['HS6'] = hs6_codes['HS6'].astype(str)  # Convert to string if not already

# Add '0' as prefix for 5-digit values
hs6_codes['HS6'] = hs6_codes['HS6'].apply(lambda x: '0' + x if len(x) == 5 else x)

In [8]:
hs2_codes

   HS2                          Description
0   01                         Live animals
1   02           Meat and edible meat offal
2   03                   Fish & crustaceans
3   04                        Dairy produce
4   05            Products of animal origin
..  ..                                  ...
93  95  Miscellaneous manufactured articles
94  96     Works of art, collectors' pieces
95  97                 Special transactions
96  98    Special classification provisions
97  99  Commodities not specified elsewhere

[98 rows x 2 columns]

In [9]:
hs6_codes

         HS6                                        Description
0     010121           Horses: live, pure-bred breeding animals
1     010129  Horses: live, other than pure-bred breeding an...
2     010130                                        Asses: live
3     010190                            Mules and hinnies: live
4     010221           Cattle: live, pure-bred breeding animals
...      ...                                                ...
5379  970300  Sculptures and statuary: original, in any mate...
5380  970400  Stamps, postage or revenue: stamp-postmarks, f...
5381  970500  Collections and collectors' pieces: of zoologi...
5382  970600    Antiques: of an age exceeding one hundred years
5383  999999        Commodities not specified according to kind

[5384 rows x 2 columns]

In [10]:
df_dict = {}
for file in os.listdir(os.getcwd()):
    if file.startswith('BACI'):
        filename = file.split('_')
        print(filename[2])
        
        df = pd.read_csv(file, dtype={"k": str})
        df = df.rename(columns={
            't': 'year',
            'i': 'exporter',
            'j': 'importer',
            'k': 'HS6',
            'v': 'value(thousands USD)',
            'q': 'quantity(in metric tons)'
        })
        
        # Ensure 6-digit product codes
        df["HS6"] = df["HS6"].str.zfill(6)

        # Extract HS2 and HS4 codes
        df["HS2"] = df["HS6"].str[:2]  # First 2 digits
        df["HS4"] = df["HS6"].str[:4]

        # Merge with HS2 and HS6 description data
        df = df.merge(hs2_codes, on="HS2", how="left").rename(columns={"Description": "HS2_desc"})
        df = df.merge(hs6_codes, on="HS6", how="left").rename(columns={"Description": "HS6_desc"})
        
        df_dict[filename[2]] = df  # Store in dictionary with year as key

Y2017
Y2018
Y2019
Y2020
Y2021
Y2022
Y2023

In [24]:
df_dict['Y2017'][(df_dict['Y2017']['exporter'] == 156) & (df_dict['Y2017']['importer'] == 842)]

,year,exporter,importer,HS6,value(thousands USD),quantity(in metric tons),HS2,HS4,HS2_desc,HS6_desc
1775471,2017,156,842,010129,910.276,41.240,01,0101,Live animals,"Horses: live, other than pure-bred breeding an..."
1775472,2017,156,842,010611,32834.903,44.283,01,0106,Live animals,"Mammals: live, primates"
1775473,2017,156,842,010612,140.000,1.307,01,0106,Live animals,"Mammals: live, whales, dolphins and porpoises ..."
1775474,2017,156,842,010619,119.262,0.587,01,0106,Live animals,"Mammals: live, other than primates, whales, do..."
1775475,2017,156,842,010620,14.003,0.157,01,0106,Live animals,Reptiles: live (including snakes and turtles)
...,...,...,...,...,...,...,...,...,...,...
1780161,2017,156,842,970200,1051.572,1.145,97,9702,Special transactions,"Engravings, prints and lithographs: original"
1780162,2017,156,842,970300,30367.043,NaN,97,9703,Special transactions,"Sculptures and statuary: original, in any mate..."
1780163,2017,156,842,970400,641.883,4.449,97,9704,Special transactions,"Stamps, postage or revenue: stamp-postmarks, f..."
1780164,2017,156,842,970500,42798.468,835.332,97,9705,Special transactions,Collections and collectors' pieces: of zoologi...
1780165,2017,156,842,970600,107490.202,110.254,97,9706,Special transactions,Antiques: of an age exceeding one hundred years

In [22]:
for key in df_dict.keys():
    print(len(df_dict[key][(df_dict[key]['exporter'] == 156) & (df_dict[key]['importer'] == 842)]))

4695
4724
4669
4619
4629
4668
4619

In [25]:
#master df

In [39]:
master_df.to_csv('filtered_data.csv',index=False)

# report again only for china to usa

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
master_df = pd.read_csv('filtered_data.csv')

In [5]:
master_df

,year,exporter,importer,HS6,value(thousands USD),quantity(in metric tons),HS2,HS4,HS2_desc,HS6_desc
0,2017,156,842,10129,910,42,1,101,Live animals,"Horses: live, other than pure-bred breeding an..."
1,2017,156,842,10611,32834,45,1,106,Live animals,"Mammals: live, primates"
2,2017,156,842,10612,140,2,1,106,Live animals,"Mammals: live, whales, dolphins and porpoises ..."
3,2017,156,842,10619,119,1,1,106,Live animals,"Mammals: live, other than primates, whales, do..."
4,2017,156,842,10620,14,1,1,106,Live animals,Reptiles: live (including snakes and turtles)
...,...,...,...,...,...,...,...,...,...,...
32618,2023,156,842,970200,485,1,97,9702,Special transactions,"Engravings, prints and lithographs: original"
32619,2023,156,842,970300,15690,875,97,9703,Special transactions,"Sculptures and statuary: original, in any mate..."
32620,2023,156,842,970400,28,1,97,9704,Special transactions,"Stamps, postage or revenue: stamp-postmarks, f..."
32621,2023,156,842,970500,3855,5,97,9705,Special transactions,Collections and collectors' pieces: of zoologi...
32622,2023,156,842,970600,42152,504,97,9706,Special transactions,Antiques: of an age exceeding one hundred years

In [7]:
master_df['HS2'] = master_df['HS2'].astype(str).str.zfill(2)
master_df['HS4'] = master_df['HS4'].astype(str).str.zfill(4)
master_df['HS6'] = master_df['HS6'].astype(str).str.zfill(6)

In [8]:
master_df

,year,exporter,importer,HS6,value(thousands USD),quantity(in metric tons),HS2,HS4,HS2_desc,HS6_desc
0,2017,156,842,010129,910,42,01,0101,Live animals,"Horses: live, other than pure-bred breeding an..."
1,2017,156,842,010611,32834,45,01,0106,Live animals,"Mammals: live, primates"
2,2017,156,842,010612,140,2,01,0106,Live animals,"Mammals: live, whales, dolphins and porpoises ..."
3,2017,156,842,010619,119,1,01,0106,Live animals,"Mammals: live, other than primates, whales, do..."
4,2017,156,842,010620,14,1,01,0106,Live animals,Reptiles: live (including snakes and turtles)
...,...,...,...,...,...,...,...,...,...,...
32618,2023,156,842,970200,485,1,97,9702,Special transactions,"Engravings, prints and lithographs: original"
32619,2023,156,842,970300,15690,875,97,9703,Special transactions,"Sculptures and statuary: original, in any mate..."
32620,2023,156,842,970400,28,1,97,9704,Special transactions,"Stamps, postage or revenue: stamp-postmarks, f..."
32621,2023,156,842,970500,3855,5,97,9705,Special transactions,Collections and collectors' pieces: of zoologi...
32622,2023,156,842,970600,42152,504,97,9706,Special transactions,Antiques: of an age exceeding one hundred years

In [9]:
desired_order = [
    'year',
    'exporter',
    'importer',
    'HS2',
    'HS4',
    'HS6',  # moved here
    'value(thousands USD)',
    'quantity(in metric tons)',
    'HS2_desc',
    'HS6_desc'
]

master_df = master_df[desired_order]

In [11]:
del master_df['exporter']
del master_df['importer']

In [12]:
master_df

,year,HS2,HS4,HS6,value(thousands USD),quantity(in metric tons),HS2_desc,HS6_desc
0,2017,01,0101,010129,910,42,Live animals,"Horses: live, other than pure-bred breeding an..."
1,2017,01,0106,010611,32834,45,Live animals,"Mammals: live, primates"
2,2017,01,0106,010612,140,2,Live animals,"Mammals: live, whales, dolphins and porpoises ..."
3,2017,01,0106,010619,119,1,Live animals,"Mammals: live, other than primates, whales, do..."
4,2017,01,0106,010620,14,1,Live animals,Reptiles: live (including snakes and turtles)
...,...,...,...,...,...,...,...,...
32618,2023,97,9702,970200,485,1,Special transactions,"Engravings, prints and lithographs: original"
32619,2023,97,9703,970300,15690,875,Special transactions,"Sculptures and statuary: original, in any mate..."
32620,2023,97,9704,970400,28,1,Special transactions,"Stamps, postage or revenue: stamp-postmarks, f..."
32621,2023,97,9705,970500,3855,5,Special transactions,Collections and collectors' pieces: of zoologi...
32622,2023,97,9706,970600,42152,504,Special transactions,Antiques: of an age exceeding one hundred years

In [13]:
need_hs=['04', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '17', '18', '19', '20', '21', '22', '23', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40']

In [16]:
need_master_df = master_df[master_df['HS2'].isin(need_hs)]

In [22]:
for col in need_master_df.columns:
    if col == 'HS2':
        for code in need_master_df[col].unique():
            need_master_df['value(thousands USD)'][need_master_df[col] == code].sum()

year
HS2
HS4
HS6
value(thousands USD)
quantity(in metric tons)
HS2_desc
HS6_desc

In [28]:
need_master_df['value(thousands USD)'][need_master_df['HS2'] == '04'].sum()

121752

In [53]:
top_hs2

Index(['39', '29', '40', '30', '38', '28', '33', '20', '15', '21'], dtype='object', name='HS2')

In [35]:
from collections import defaultdict

# Initialize final dictionary
final_dict = defaultdict(lambda: {"HS2": {}, "HS4": {}})

# Process each year
for year in need_master_df['year'].unique():
    year_df = need_master_df[need_master_df['year'] == year]

    # Get top 10 HS2 codes
    top_hs2 = (
        year_df.groupby('HS2')['value(thousands USD)']
        .sum()
        .sort_values(ascending=False)
        .head(10)
        .index
    )

    for hs2 in top_hs2:
        hs2_df = year_df[year_df['HS2'] == hs2]

        # Add HS2 summary
        final_dict[year]["HS2"][hs2] = {
            "total_value": hs2_df['value(thousands USD)'].sum(),
            "total_quantity": hs2_df['quantity(in metric tons)'].sum()
        }

        # Get top 5 HS4 under HS2
        top_hs4 = (
            hs2_df.groupby('HS4')['value(thousands USD)']
            .sum()
            .sort_values(ascending=False)
            .head(5)
            .index
        )

        # Store list of top 5 HS4 with their values
        final_dict[year]["HS4"][hs2] = []

        for hs4 in top_hs4:
            hs4_df = hs2_df[hs2_df['HS4'] == hs4]

            final_dict[year]["HS4"][hs2].append({
                "HS4_code": hs4,
                "total_value": hs4_df['value(thousands USD)'].sum(),
                "total_quantity": hs4_df['quantity(in metric tons)'].sum()
            })

In [36]:
final_dict.keys()

dict_keys([2017, 2018, 2019, 2020, 2021, 2022, 2023])

In [37]:
final_dict

defaultdict(<function __main__.<lambda>()>,
            {2017: {'HS2': {'39': {'total_value': 16937297,
                'total_quantity': 3972312},
               '29': {'total_value': 7463032, 'total_quantity': 1367064},
               '40': {'total_value': 3216533, 'total_quantity': 689873},
               '33': {'total_value': 1489950, 'total_quantity': 135349},
               '30': {'total_value': 1431386, 'total_quantity': 72818},
               '28': {'total_value': 1416070, 'total_quantity': 1027148},
               '20': {'total_value': 1249453, 'total_quantity': 909300},
               '38': {'total_value': 1213215, 'total_quantity': 305399},
               '27': {'total_value': 830491, 'total_quantity': 889674},
               '07': {'total_value': 756543, 'total_quantity': 284415}},
              'HS4': {'39': [{'HS4_code': '3926',
                 'total_value': 4777923,
                 'total_quantity': 443276},
                {'HS4_code': '3924',
                 'total_value': 3750916,
                 'total_quantity': 808376},
                {'HS4_code': '3923',
                 'total_value': 2673238,
                 'total_quantity': 674729},
                {'HS4_code': '3918',
                 'total_value': 1972216,
                 'total_quantity': 915145},
                {'HS4_code': '3917',
                 'total_value': 599655,
                 'total_quantity': 119019}],
               '29': [{'HS4_code': '2933',
                 'total_value': 937810,
                 'total_quantity': 116873},
                {'HS4_code': '2936',
                 'total_value': 813316,
                 'total_quantity': 64805},
                {'HS4_code': '2903',
                 'total_value': 518444,
                 'total_quantity': 120819},
                {'HS4_code': '2918',
                 'total_value': 468479,
                 'total_quantity': 77663},
                {'HS4_code': '2932',
                 'total_value': 387747,
                 'total_quantity': 28431}],
               '40': [{'HS4_code': '4011',
                 'total_value': 1624050,
                 'total_quantity': 403829},
                {'HS4_code': '4016',
                 'total_value': 734100,
                 'total_quantity': 82543},
                {'HS4_code': '4015',
                 'total_value': 262929,
                 'total_quantity': 45413},
                {'HS4_code': '4009',
                 'total_value': 239390,
                 'total_quantity': 35796},
                {'HS4_code': '4010',
                 'total_value': 93072,
                 'total_quantity': 32375}],
               '33': [{'HS4_code': '3304',
                 'total_value': 986047,
                 'total_quantity': 29218},
                {'HS4_code': '3307',
                 'total_value': 218024,
                 'total_quantity': 59409},
                {'HS4_code': '3301',
                 'total_value': 87955,
                 'total_quantity': 3581},
                {'HS4_code': '3306',
                 'total_value': 66235,
                 'total_quantity': 8755},
                {'HS4_code': '3305',
                 'total_value': 60020,
                 'total_quantity': 15739}],
               '30': [{'HS4_code': '3005',
                 'total_value': 401825,
                 'total_quantity': 46345},
                {'HS4_code': '3004',
                 'total_value': 366798,
                 'total_quantity': 8786},
                {'HS4_code': '3006',
                 'total_value': 326165,
                 'total_quantity': 7753},
                {'HS4_code': '3001',
                 'total_value': 168074,
                 'total_quantity': 1882},
                {'HS4_code': '3002',
                 'total_value': 117727,
                 'total_quantity': 1834}],
               '28': [{'HS4_code': '2825',
                 'total_value': 159974,
                 'total_quantity': 18633},
                {'HS4_code': '2811',
                 'total_value': 135397,
                 'total_quantity': 81758},
                {'HS4_code': '2818',
                 'total_value': 108680,
                 'total_quantity': 157939},
                {'HS4_code': '2821',
                 'total_value': 103248,
                 'total_quantity': 93924},
                {'HS4_code': '2849',
                 'total_value': 100040,
                 'total_quantity': 110457}],
               '20': [{'HS4_code': '2008',
                 'total_value': 585499,
                 'total_quantity': 383755},
                {'HS4_code': '2009',
                 'total_value': 341570,
                 'total_quantity': 391513},
                {'HS4_code': '2005',
                 'total_value': 237914,
                 'total_quantity': 101740},
                {'HS4_code': '2004',
                 'total_value': 42692,
                 'total_quantity': 12878},
                {'HS4_code': '2007',
                 'total_value': 18576,
                 'total_quantity': 7574}],
               '38': [{'HS4_code': '3824',
                 'total_value': 403001,
                 'total_quantity': 97692},
                {'HS4_code': '3808',
                 'total_value': 272240,
                 'total_quantity': 54838},
                {'HS4_code': '3822',
                 'total_value': 136773,
                 'total_quantity': 3699},
                {'HS4_code': '3818',
                 'total_value': 109983,
                 'total_quantity': 727},
                {'HS4_code': '3815',
                 'total_value': 95866,
                 'total_quantity': 15611}],
               '27': [{'HS4_code': '2710',
                 'total_value': 644668,
                 'total_quantity': 617850},
                {'HS4_code': '2712',
                 'total_value': 132740,
                 'total_quantity': 106704},
                {'HS4_code': '2709',
                 'total_value': 23428,
                 'total_quantity': 31689},
                {'HS4_code': '2713',
                 'total_value': 14976,
                 'total_quantity': 99058},
                {'HS4_code': '2715',
                 'total_value': 4387,
                 'total_quantity': 13711}],
               '07': [{'HS4_code': '0712',
                 'total_value': 457400,
                 'total_quantity': 85564},
                {'HS4_code': '0703',
                 'total_value': 130580,
                 'total_quantity': 53268},
                {'HS4_code': '0710',
                 'total_value': 99077,
                 'total_quantity': 98901},
                {'HS4_code': '0713',
                 'total_value': 36692,
                 'total_quantity': 20920},
                {'HS4_code': '0709',
                 'total_value': 15823,
                 'total_quantity': 10838}]}},
             2018: {'HS2': {'39': {'total_value': 19958473,
                'total_quantity': 4722985},
               '29': {'total_value': 9502473, 'total_quantity': 1510479},
               '40': {'total_value': 3860302, 'total_quantity': 839195},
               '28': {'total_value': 1713732, 'total_quantity': 1061635},
               '38': {'total_value': 1696938, 'total_quantity': 422768},
               '33': {'total_value': 1578564, 'total_quantity': 156449},
               '30': {'total_value': 1566188, 'total_quantity': 76746},
               '20': {'total_value': 1391074, 'total_quantity': 983232},
               '27': {'total_value': 756860, 'total_quantity': 915326},
               '32': {'total_value': 666538, 'total_quantity': 114597}},
              'HS4': {'39': [{'HS4_code': '3926',
                 'total_value': 5409400,
                 'total_quantity': 546575},
                {'HS4_code': '3924',
                 'total_value': 4269618,
                 'total_quantity': 866814},
                {'HS4_code': '3918',
                 'total_value': 3058827,
                 'total_quantity': 1363672},
                {'HS4_code': '3923',
                 'total_value': 2906635,
                 'total_quantity': 695949},
                {'HS4_code': '3917',
                 'total_value': 710251,
                 'total_quantity': 135332}],
               '29': [{'HS4_code': '2933',
                 'total_value': 1188380,
                 'total_quantity': 114888},
                {'HS4_code': '2936',
                 'total_value': 1062092,
                 'total_quantity': 67129},
                {'HS4_code': '2931',
                 'total_value': 609422,
                 'total_quantity': 123110},
                {'HS4_code': '2903',
                 'total_value': 594077,
                 'total_quantity': 131365},
                {'HS4_code': '2918',
                 'total_value': 499433,
                 'total_quantity': 74301}],
               '40': [{'HS4_code': '4011',
                 'total_value': 2000581,
                 'total_quantity': 530383},
                {'HS4_code': '4016',
                 'total_value': 910141,
                 'total_quantity': 94714},
                {'HS4_code': '4015',
                 'total_value': 315601,
                 'total_quantity': 43688},
                {'HS4_code': '4009',
                 'total_value': 238434,
                 'total_quantity': 36261},
                {'HS4_code': '4010',
                 'total_value': 118143,
                 'total_quantity': 37243}],
               '28': [{'HS4_code': '2825',
                 'total_value': 188693,
                 'total_quantity': 19833},
                {'HS4_code': '2811',
                 'total_value': 158351,
                 'total_quantity': 87154},
                {'HS4_code': '2818',
                 'total_value': 129851,
                 'total_quantity': 150950},
                {'HS4_code': '2849',
                 'total_value': 120908,
                 'total_quantity': 107665},
                {'HS4_code': '2827',
                 'total_value': 104163,
                 'total_quantity': 107792}],
               '38': [{'HS4_code': '3824',
                 'total_value': 555088,
                 'total_quantity': 185729},
                {'HS4_code': '3808',
                 'total_value': 383585,
                 'total_quantity': 63163},
                {'HS4_code': '3822',
                 'total_value': 180837,
                 'total_quantity': 4536},
                {'HS4_code': '3815',
                 'total_value': 163833,
                 'total_quantity': 26198},
                {'HS4_code': '3818',
                 'total_value': 138973,
                 'total_quantity': 817}],
               '33': [{'HS4_code': '3304',
                 'total_value': 942793,
                 'total_quantity': 26576},
                {'HS4_code': '3307',
                 'total_value': 298293,
                 'total_quantity': 79767},
                {'HS4_code': '3301',
                 'total_value': 112600,
                 'total_quantity': 4372},
                {'HS4_code': '3306',
                 'total_value': 82038,
                 'total_quantity': 10715},
                {'HS4_code': '3305',
                 'total_value': 67168,
                 'total_quantity': 16962}],
               '30': [{'HS4_code': '3004',
                 'total_value': 469594,
                 'total_quantity': 10632},
                {'HS4_code': '3005',
                 'total_value': 432948,
                 'total_quantity': 47245},
                {'HS4_code': '3006',
                 'total_value': 249208,
                 'total_quantity': 7488},
                {'HS4_code': '3001',
                 'total_value': 177621,
                 'total_quantity': 1517},
                {'HS4_code': '3002',
                 'total_value': 174454,
                 'total_quantity': 1976}],
               '20': [{'HS4_code': '2008',
                 'total_value': 722342,
                 'total_quantity': 450889},
                {'HS4_code': '2009',
                 'total_value': 404351,
                 'total_quantity': 374856},
                {'HS4_code': '2005',
                 'total_value': 209145,
                 'total_quantity': 127224},
                {'HS4_code': '2004',
                 'total_value': 17898,
                 'total_quantity': 10386},
                {'HS4_code': '2007',
                 'total_value': 16840,
                 'total_quantity': 7778}],
               '27': [{'HS4_code': '2710',
                 'total_value': 524594,
                 'total_quantity': 551457},
                {'HS4_code': '2712',
                 'total_value': 164932,
                 'total_quantity': 134899},
                {'HS4_code': '2713',
                 'total_value': 40335,
                 'total_quantity': 152691},
                {'HS4_code': '2714',
                 'total_value': 13768,
                 'total_quantity': 33342},
                {'HS4_code': '2715',
                 'total_value': 5119,
                 'total_quantity': 14690}],
               '32': [{'HS4_code': '3204',
                 'total_value': 272431,
                 'total_quantity': 23021},
                {'HS4_code': '3206',
                 'total_value': 208252,
                 'total_quantity': 66690},
                {'HS4_code': '3213',
                 'total_value': 96888,
                 'total_quantity': 15909},
                {'HS4_code': '3203',
                 'total_value': 26413,
                 'total_quantity': 743},
                {'HS4_code': '3212',
                 'total_value': 15258,
                 'total_quantity': 1074}]}},
             2019: {'HS2': {'39': {'total_value': 18855916,
                'total_quantity': 4355481},
               '29': {'total_value': 7732570, 'total_quantity': 1138902},
               '40': {'total_value': 2419164, 'total_quantity': 499058},
               '30': {'total_value': 1535003, 'total_quantity': 80974},
               '38': {'total_value': 1306351, 'total_quantity': 284286},
               '33': {'total_value': 1240521, 'total_quantity': 120851},
               '28': {'total_value': 1217546, 'total_quantity': 801281},
               '20': {'total_value': 770702, 'total_quantity': 559333},
               '34': {'total_value': 530715, 'total_quantity': 220231},
               '21': {'total_value': 480235, 'total_quantity': 134226}},
              'HS4': {'39': [{'HS4_code': '3926',
                 'total_value': 5844934,
                 'total_quantity': 520529},
                {'HS4_code': '3924',
                 'total_value': 4693927,
                 'total_quantity': 999100},
                {'HS4_code': '3918',
                 'total_value': 3020111,
                 'total_quantity': 1484203},
                {'HS4_code': '3923',
                 'total_value': 2276855,
                 'total_quantity': 522048},
                {'HS4_code': '3925',
                 'total_value': 575279,
                 'total_quantity': 106462}],
               '29': [{'HS4_code': '2933',
                 'total_value': 1166016,
                 'total_quantity': 98075},
                {'HS4_code': '2936',
                 'total_value': 702034,
                 'total_quantity': 62007},
                {'HS4_code': '2934',
                 'total_value': 507557,
                 'total_quantity': 28854},
                {'HS4_code': '2932',
                 'total_value': 482355,
                 'total_quantity': 26674},
                {'HS4_code': '2903',
                 'total_value': 469924,
                 'total_quantity': 116573}],
               '40': [{'HS4_code': '4011',
                 'total_value': 886249,
                 'total_quantity': 241721},
                {'HS4_code': '4016',
                 'total_value': 751922,
                 'total_quantity': 95683},
                {'HS4_code': '4015',
                 'total_value': 296991,
                 'total_quantity': 43994},
                {'HS4_code': '4009',
                 'total_value': 203947,
                 'total_quantity': 32572},
                {'HS4_code': '4010',
                 'total_value': 100544,
                 'total_quantity': 22902}],
               '30': [{'HS4_code': '3004',
                 'total_value': 578829,
                 'total_quantity': 12699},
                {'HS4_code': '3005',
                 'total_value': 493722,
                 'total_quantity': 51845},
                {'HS4_code': '3001',
                 'total_value': 193685,
                 'total_quantity': 1753},
                {'HS4_code': '3002',
                 'total_value': 143253,
                 'total_quantity': 1956},
                {'HS4_code': '3006',
                 'total_value': 68574,
                 'total_quantity': 6536}],
               '38': [{'HS4_code': '3824',
                 'total_value': 407264,
                 'total_quantity': 130105},
                {'HS4_code': '3808',
                 'total_value': 222221,
                 'total_quantity': 39546},
                {'HS4_code': '3801',
                 'total_value': 189404,
                 'total_quantity': 33864},
                {'HS4_code': '3822',
                 'total_value': 187345,
                 'total_quantity': 4619},
                {'HS4_code': '3818',
                 'total_value': 92665,
                 'total_quantity': 267}],
               '33': [{'HS4_code': '3304',
                 'total_value': 732375,
                 'total_quantity': 19332},
                {'HS4_code': '3307',
                 'total_value': 226675,
                 'total_quantity': 58749},
                {'HS4_code': '3306',
                 'total_value': 84412,
                 'total_quantity': 11154},
                {'HS4_code': '3301',
                 'total_value': 75870,
                 'total_quantity': 3803},
                {'HS4_code': '3305',
                 'total_value': 60631,
                 'total_quantity': 16300}],
               '28': [{'HS4_code': '2811',
                 'total_value': 143160,
                 'total_quantity': 88406},
                {'HS4_code': '2825',
                 'total_value': 134057,
                 'total_quantity': 19359},
                {'HS4_code': '2818',
                 'total_value': 125343,
                 'total_quantity': 141285},
                {'HS4_code': '2849',
                 'total_value': 117765,
                 'total_quantity': 99823},
                {'HS4_code': '2846',
                 'total_value': 83497,
                 'total_quantity': 15651}],
               '20': [{'HS4_code': '2008',
                 'total_value': 471060,
                 'total_quantity': 314673},
                {'HS4_code': '2005',
                 'total_value': 126888,
                 'total_quantity': 91484},
                {'HS4_code': '2009',
                 'total_value': 115590,
                 'total_quantity': 128338},
                {'HS4_code': '2004',
                 'total_value': 29813,
                 'total_quantity': 9222},
                {'HS4_code': '2007',
                 'total_value': 12896,
                 'total_quantity': 6473}],
               '34': [{'HS4_code': '3401',
                 'total_value': 209822,
                 'total_quantity': 115983},
                {'HS4_code': '3407',
                 'total_value': 162539,
                 'total_quantity': 32950},
                {'HS4_code': '3402',
                 'total_value': 91498,
                 'total_quantity': 54727},
                {'HS4_code': '3406',
                 'total_value': 47526,
                 'total_quantity': 10570},
                {'HS4_code': '3405',
                 'total_value': 7995,
                 'total_quantity': 1698}],
               '21': [{'HS4_code': '2106',

In [40]:
need_master_df

,year,HS2,HS4,HS6,value(thousands USD),quantity(in metric tons),HS2_desc,HS6_desc
132,2017,04,0402,040229,0,1,Dairy produce,"Dairy produce: milk and cream, containing adde..."
133,2017,04,0402,040299,302,221,Dairy produce,"Dairy produce: milk and cream, containing adde..."
134,2017,04,0405,040510,97,15,Dairy produce,"Dairy produce: derived from milk, butter"
135,2017,04,0407,040729,271,148,Dairy produce,"Birds' eggs, in shell: fresh, not for incubati..."
136,2017,04,0407,040790,5480,1649,Dairy produce,"Birds' eggs, in shell: preserved or cooked"
...,...,...,...,...,...,...,...,...
29582,2023,40,4016,401693,243373,21075,Rubber & articles thereof,"Rubber: vulcanised (other than hard rubber), g..."
29583,2023,40,4016,401694,5122,1561,Rubber & articles thereof,"Rubber: vulcanised (other than hard rubber), b..."
29584,2023,40,4016,401695,6365,800,Rubber & articles thereof,"Rubber: vulcanised (other than hard rubber), i..."
29585,2023,40,4016,401699,436210,90738,Rubber & articles thereof,"Rubber: vulcanised (other than hard rubber), a..."
29586,2023,40,4017,401700,4018,374,Rubber & articles thereof,Rubber: ebonite and other hard rubbers in all ...

In [51]:
need_master_df['value(thousands USD)'][(need_master_df['HS2'] == '39') & (need_master_df['year'] == 2021)].sum()

26723581

In [52]:
need_master_df['quantity(in metric tons)'][(need_master_df['HS2'] == '39') & (need_master_df['year'] == 2021)].sum()

6036213